@{
    ViewData["Title"] = "Home Page";
}
<h2>Welcome</h2>
<p>
    Modules:
    <ul>
        <li><a href="/fullPageRequestDemo/">Full page request demo</a></li>
        <li><a href="~/AngularJs/todo/index.html">AngularJs - ToDo app</a></li>
    </ul>
</p>